
$font-stack: 'Kanit', Tahoma, Geneva, Verdana, sans-serif;
$primary-color: #333;
$main-bgColor: #f1f1f1;
$font-subHeading: #2b86fd;

body{
    font: $font-stack;
    color: $primary-color;
    background-color: $main-bgColor;
}

.box{
    background-color: #f7f7f7;
    // img{
    //     max-width: 50%;
    //     height: auto;
    //     display: block;
    //     margin-left: auto;
    //     margin-right: auto;
    // }
    // min-height: 50px;
    h2{
        font-weight: 200;
        font-size: 2.5em;
        color: $font-subHeading;
    }
    .forgotPswrd{
        text-decoration: none;
        color: $font-subHeading;
        font-weight: 700;
        font-size: small;
    }
    .forgotPswrd:hover{
        cursor: pointer;
    }
    #usrPassword, #userName{
        background-color: #f7f7f7;
        outline: none !important;
        outline-color: none;
    }
    .inputBorder:focus{
        border-color: #2b86fd !important;
    }


}    

