
$font-stack: 'Kanit', Tahoma, Geneva, Verdana, sans-serif;
$primary-color: #333;
$main-bgColor: #f1f1f1;
$font-subHeading: #2b86fd;

body{
    font: $font-stack;
    color: $primary-color;
    background-color: $main-bgColor;
}

.mainContainer{
    background-color: #fee0e0;
}